[package]
name = "sqllogictest-bin"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
description = "Sqllogictest CLI."

[dependencies]
anyhow = { version = "1" }
async-trait = "0.1"
bytes = "1"
chrono = { version = "0.4" }
clap = { version = "3", features = ["derive", "env"] }
console = { version = "0.15" }
difference = "2.0"
env_logger = { version = "0.9" }
futures = { version = "0.3", default-features = false }
futures-lite = "1"
glob = "0.3"
humantime = "2"
itertools = "0.10"
log = "0.4"
postgres-types = { version = "0.2.3", features = ["derive", "with-chrono-0_4"] }
pg_interval = "0.4"
quick-junit = { version = "0.2" }
rand = "0.8"
rust_decimal = { version = "1.7.0", features = ["tokio-pg"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sqllogictest = { path = "../sqllogictest", version = "0.10" }
tempfile = "3"
thiserror = "1"
tokio = { version = "1", features = [
    "rt",
    "rt-multi-thread",
    "sync",
    "macros",
    "fs",
    "process",
] }
tokio-postgres = { version = "0.7" }
tokio-util = { version = "0.7", features = ["codec"] }
