[package]
name = "sqllogictest-bin"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
description = "Sqllogictest CLI."

[[bin]]
name = "sqllogictest"
path = "src/main.rs"

[dependencies]
anyhow = { version = "1" }
async-trait = "0.1"
chrono = { version = "0.4" }
clap = { version = "4", features = ["derive", "env"] }
console = { version = "0.15" }
env_logger = { version = "0.10" }
futures = { version = "0.3", default-features = false }
glob = "0.3"
itertools = "0.11"
quick-junit = { version = "0.3" }
rand = "0.8"
sqllogictest = { path = "../sqllogictest", version = "0.15" }
sqllogictest-engines = { path = "../sqllogictest-engines", version = "0.15" }
tokio = { version = "1", features = [
    "rt",
    "rt-multi-thread",
    "sync",
    "macros",
    "fs",
    "process",
] }
fs-err = "2.9.0"
